<h1>{{title}}</h1>

<input
  type="text"
  name="search"
  id="home_searchbar"
  value="{{search}}"
  placeholder="검색어를 입력하세요."
/>
<button
  onClick="location.href=`/?search=${document.getElementById('home_searchbar').value}`"
>검색</button>

<a href="/write">글쓰기</a>

<div>
  <table>
    <thead>
      <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>조회수</th>
        <th>등록일</th>
      </tr>
    </thead>
    <tbody>
      {{#each posts}}
        <tr>
          <td><a href="/detail/{{_id}}">{{title}}</a></td>
          <td>{{writer}}</td>
          <td>{{hits}}</td>
          <td>{{dateString createdDate}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div>
  {{#with paginator}}
    <a href="/?page=1&search={{@root.search}}">처음</a>
    {{#if hasPrev}}
      <a href="/?page={{prevPage}}&search={{@root.search}}">이전</a>
    {{else}}
      <a>이전</a>
    {{/if}}
    {{#each pageList}}
      {{#if (eq this @root.paginator.page)}}
        <a>{{this}}</a>
      {{else}}
        <a href="/?page={{this}}&search={{@root.search}}">{{this}}</a>
      {{/if}}
    {{/each}}
    {{#if hasNext}}
      <a href="/?page={{nextPage}}&search={{@root.search}}">다음</a>
    {{else}}
      <a>다음</a>
    {{/if}}
    <a href="/?page={{lastPage}}&search={{@root.search}}">끝</a>
  {{/with}}
</div>