<h1>[{{title}}] 글 {{#if (eq mode "create")}}작성{{else}}수정{{/if}}</h1>

<div>
  <form name="board_form" method="post" {{#if (eq mode "create")}} action="/write" {{else}} action="/modify/{{post._id}}"{{/if}}>
    <div>
      <label>제목</label>
      <input type="text" name="title" value="{{post.title}}" placeholder="제목을 작성해주세요." />
    </div>
    {{#if (eq mode "create")}}
    <div>
      <label>이름</label>
      <input type="text" name="writer" placeholder="이름을 작성해주세요." />
    </div>
    <div>
      <label>비밀번호</label>
      <input
        type="password"
        name="password"
        placeholder="비밀번호을 작성해주세요."
      />
    </div>
    {{/if}}
    <div>
      <label>본문</label>
      <textarea name="content" placeholder="본문을 작성해주세요.">{{post.content}}</textarea>
    </div>
    <div>
      <button>저장</button>
      <button onClick="location.href='/'">취소</button>
    </div>
  </form>
</div>